<% title("Triphappy | Create your trip now") %>

<div  id="index-first-section">
	<div class="container-fluid">
		<h1 id="homepage-headline">Plan your dream trip now</h1>
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline homepage-search-form">
					  <div class="form-group homepage-search-field">
					    <label class="sr-only" for="Location0">Starting Location</label>
					    <input class="form-control" id="Location0" placeholder="Starting Location">
					  </div>
					  <span id="homepage-arrow" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					  <div class="form-group homepage-search-field">
					    <label class="sr-only" for="Location1">First Destination</label>
					    <input class="form-control" id="Location1" placeholder="First Destination">
					  </div>
					  <%= link_to("Let's Go", {:controller => 'map', :action => 'index'}, :class => 'btn btn-success') %>
					</form>
				</div>
				<div class="col-md-12">
					<h2 id="homepage-subheadline">Or discover amazing destinations near your current location</h2>
				</div>
				<div class="col-md-12">
					<form class="form-inline homepage-search-form">
						<div class="form-group homepage-search-field">
						    <label class="sr-only" for="current-location">Current Location</label>
						    <input class="form-control" id="current-Location" placeholder="Autocomplete current destination">
						</div>
					<%= link_to("Let's Go", {:controller => 'map', :action => 'index'}, :class => 'btn btn-success') %>
					</form>
				</div>
			</div>
	</div>
</div>

<div  id="index-second-section">
	<div class="container-fluid">
		<h2>Start building your own trip now<br>or get inspiration from our community created trips</h2>
		<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">Popular</a></li>
	    <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Asia</a></li>
	    <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Europe</a></li>
	    <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Americas</a></li>
	    <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Africa</a></li>
	    <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">India</a></li>
	  </ul>
		<div class="map-preview row">
			<div class="col-md-3 col-sm-6">
				<h4>Vietnam North to South</h4>
				<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|Hanoi,Vietnam|Halong,Vietnam|Hue,Vietnam|DaLat,Vietnam|HoChiMinhCity,Vietnam"></div>
				<p><a href="#">Vietnam</a></p>
				<p><span class="badge">10</span><a href="#"> Likes</a></p>
				<%= link_to("See more", {:controller => 'map', :action => 'index'}, :class => 'btn btn-primary btn-block') %>
			</div>
			<div class="col-md-3 col-sm-6">
				<h4>Eastern Europe</h4>
				<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|Warsaw,Poland|Kiev,Ukraine|Prague,CzechRepublic|Budapest,Hungary"></div>
				<p><a href="#">Poland, Ukraine +2 others</a></p>
				<p><span class="badge">10</span><a href="#"> Likes</a></p>
				<%= link_to("See more", {:controller => 'map', :action => 'index'}, :class => 'btn btn-primary btn-block') %>			
			</div>
			<div class="col-md-3 col-sm-6">
				<h4>Colombia and Ecuador</h4>
				<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|Medellin,Colombia|Quito,Ecuador"></div>
				<p><a href="#">Colombia, Ecuador</a></p>
				<p><span class="badge">10</span><a href="#"> Likes</a></p>
				<%= link_to("See more", {:controller => 'map', :action => 'index'}, :class => 'btn btn-primary btn-block') %>		
			</div>
			<div class="col-md-3 col-sm-6">
				<h4>South Africa</h4>
				<div class="thumbnail map-holder-preview"><img src="https://www.google.com/maps/api/staticmap?size=275x300&path=weight:5|CapeTown,SouthAfrica|Durban,SouthAfrica"></div>
				<p><a href="#">South Africa</a></p>
				<p><span class="badge">10</span><a href="#"> Likes</a></p>
				<%= link_to("See more", {:controller => 'map', :action => 'index'}, :class => 'btn btn-primary btn-block') %>		
			</div>
		</div>
		<a class="btn btn-default" href="#" role="button">See all user created trips</a>
	</div>
</div>

<div id="index-third-section">
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<h2>Looking for tips from real travelers?</h2> 
					<h2>See what our community has to say about your next destination</h2>
					<div class="media recently-answered">
						<div class="media-left media-middle">
							<a href="#"><img class="media-object img-thumbnail" src="../images/profilepic.jpg"></a>
						</div>
						<div class="media-body">
							<ol class="media-heading breadcrumb">
								<li><a href="#">Asia</a></li>
								<li><a href="#">Vietnam</a></li>
								<li><a href="#">Ho Chi Minh City</a></li>
								<li><a href="#">Where to stay</a></li>
							</ol>
							<p><a href="#">User12345</a>: I highly recommend the .......</p>
						</div>
					</div>
					<div class="media recently-answered">
						<div class="media-left media-middle">
							<a href="#"><img class="media-object img-thumbnail" src="../images/profilepic.jpg"></a>
						</div>
						<div class="media-body">
							<ol class="media-heading breadcrumb">
								<li><a href="#">Europe</a></li>
								<li><a href="#">England</a></li>
								<li><a href="#">London</a></li>
								<li><a href="#">What to do</a></li>
							</ol>
							<p><a href="#">User12345</a>: I liked the museums .......</p>
						</div>
					</div>
					<a class="btn btn-default" href="#" role="button">See all recommendations for your next trip</a>
				</div>
				<div class="col-md-4">
					<h2>Check out our user submitted photos</h2>
					<img src="../images/Coastline.jpg" class="thumbnail" style="width: 350px; height: 400px;">
				</div>
			</div>

	</div>
</div>