


<% if !user_signed_in? %>
<li><%= link_to "Sign in", new_user_session_path %></li>

<% else %>
<li><%= link_to "Protected Page", inside_path %></li>


<% if current_user.admin? %>
<li><%= link_to "Admin", admin_root_path %></li>
<% end %>

<li><%= link_to "Sign out", destroy_user_session_path, data:{method: :delete} %></li>
<% end %>
<li><%= link_to("My Profile", {:controller => 'profile', :action => 'index'}) %></li>
<li><%= link_to("Map", {:controller => 'map', :action => 'index'}) %></li>
<li><%= link_to("Community", {:controller => 'community', :action => 'index'}) %></li>
<li><%= link_to("Destinations", {:controller => 'destinations', :action => 'index'}) %></li>
<li><%= link_to "How it works" %></li>
<li><%= link_to "About us" %></li>